h1 {
  text-align: center;
  margin-bottom: 6%;
}

.container {
  width: 50%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.87);
  margin: 0 auto;
}

.headTitleCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2.5%;
}

.headTitle {
  font-weight: 600;
}

.form-class {
  display: flex;
  justify-content: space-between;
  margin-inline: 2.5%;
}

.input-text {
  width: 95%;
}

.input-text::placeholder {
  font-style: italic;
}

.fa-reply {
  transform: scaleY(-1);
  cursor: pointer;
}

.submit-task {
  background-color: transparent;
  border: transparent;
}

.fa-sync-alt {
  cursor: pointer;
}

.clear-btn {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-weight: lighter;
}

#all-completed {
  width: 100%;
  height: 33px;
  font-weight: 300;
}

.eachTask {
  margin-inline: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-list {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-icon {
  background: transparent;
  border: none;
}
